<configuration>
      <system.webServer>
            <staticContent>
                   <remove fileExtension=".json"/>
                   <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8"/>
                   <remove fileExtension=".unityweb"/>
                   <!--<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream"/>-->
				  <mimeMap fileExtension=".unityweb" mimeType="application/binary"/>
				    <mimeMap fileExtension=".data" mimeType="application/binary"/>
				    <mimeMap fileExtension=".mem" mimeType="application/binary"/>
				    <mimeMap fileExtension=".datagz" mimeType="application/binary"/>
				    <mimeMap fileExtension=".jsgz" mimeType="application/binary"/>
				    <mimeMap fileExtension=".memgz" mimeType="application/binary"/>
            </staticContent>
      </system.webServer>
      <system.web>
            <compilation debug="true"/></system.web>
</configuration>
